
[sources]
unknown-registry = "deny"
unknown-git = "deny"

# leaving this here for reference. Https links please.
allow-git = [
    # "https://github.com/chemicstry/wasm_thread",
]

[advisories]
ignore = [
    { id = "RUSTSEC-2023-0071", reason = "AFAICT exploiting this would require the attacker to be able to control the OIDC provider / set the OIDC provider, at which point several other layers of security already failed." },
    { id = "RUSTSEC-2024-0384", reason = "I don't have time to deal with this right now, and I believe the risk is low for our use case."}
]

[bans]
# Is a duplicate of rustc::multiple_crate_versions
multiple-versions = "warn"

[licenses]
allow = [
    "Apache-2.0",
    "BSD-2-Clause",
    "BSD-3-Clause",
    "CC0-1.0",
    "CDLA-Permissive-2.0",
    "ISC",
    "MIT",
    "MPL-2.0",
    "OpenSSL",
    "Unicode-3.0",
    "Zlib",
]
