<!-- Tablist for navigation -->
<nav class="flex" role="tablist" aria-label="Main tabs">
    <button class="tab" data-tab="architecture" role="tab" aria-selected="false" aria-controls="architecture-tab"
        id="tab-architecture" tabindex="0">Docs</button>
    <button class="tab active" data-tab="hosts" role="tab" aria-selected="true" aria-controls="hosts-tab" id="tab-hosts"
        tabindex="0">Hosts</button>
    <button class="tab" data-tab="clients" role="tab" aria-selected="false" aria-controls="clients-tab" id="tab-clients"
        tabindex="0">Clients</button>
</nav>
