<header class="bg-white dark:bg-gray-800 shadow-md" role="banner">
    {maybe_demo_disclaimer}
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex items-center justify-between h-14">
            <div class="flex items-center gap-4">
                <img src="./favicon.svg" alt="ShutHost Logo" class="h-6 sm:h-8 w-auto">
                <span class="text-xl sm:text-2xl font-semibold text-gray-800 dark:text-gray-100" role="heading" aria-level="1">ShutHost</span>
            </div>
            <div class="flex items-center gap-2">
                { maybe_tabs }
                { maybe_logout }
            </div>
        </div>
    </div>
</header>
