name: Test Released Install Scripts

on:
  release:
    types: [published]
  workflow_run:
    workflows: ["Build, Test and Release"]
    types: [completed]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  test-install-scripts:
    name: Test ${{ matrix.component }} on ${{ matrix.name_suffix }}
    runs-on: ${{ matrix.os }}
    container: ${{ matrix.container }}
    env:
      GH_TOKEN: ${{ github.token }}
    strategy:
      matrix:
        include:
          - component: coordinator
            os: ubuntu-latest
            name_suffix: Ubuntu
          - component: coordinator
            os: macos-latest
            name_suffix: macOS
          - component: coordinator
            os: ubuntu-latest
            container: docker.io/heywoodlh/openrc:latest
            prepare: true
            name_suffix: Alpine
          - component: host_agent
            os: ubuntu-latest
            name_suffix: Ubuntu
          - component: host_agent
            os: macos-latest
            name_suffix: macOS
          - component: host_agent
            os: ubuntu-latest
            container: docker.io/heywoodlh/openrc:latest
            prepare: true
            name_suffix: Alpine
    steps:
      - name: Check if tag push
        if: github.event_name == 'workflow_run'
        run: |
          if [[ "${{ github.event.workflow_run.head_ref }}" =~ ^refs/tags/ ]]; then
            echo "Proceed with tag release test"
          else
            echo "Not a tag push, skipping"
            exit 0
          fi
      - name: Prepare Alpine
        if: matrix.prepare
        run: |
          apk add --no-cache curl doas github-cli
          echo "permit nopass root" >> /etc/doas.conf
      - name: Download install scripts
        run: |
          gh release download ${{ github.event.release.tag_name }} --pattern "shuthost_${{ matrix.component }}_installer.sh" --dir install-scripts
      - name: Make scripts executable
        run: chmod +x install-scripts/*.sh
      - name: Test ${{ matrix.component }} install script
        run: |
          CI_MODE=true ./install-scripts/shuthost_${{ matrix.component }}_installer.sh
