name: Test Released Install Scripts

on:
  release:
    types: [published]
  workflow_run:
    workflows: ["Build, Test and Release"]
    types: [completed]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  test-install-scripts:
    name: Test ${{ matrix.component }} on ${{ matrix.name_suffix }}
    runs-on: ${{ matrix.os }}
    container: ${{ matrix.container }}
    env:
      GH_TOKEN: ${{ github.token }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - component: coordinator
            os: ubuntu-latest
            name_suffix: Ubuntu
          - component: coordinator
            os: macos-latest
            name_suffix: macOS
          - component: coordinator
            os: ubuntu-latest
            container: docker.io/heywoodlh/openrc:latest
            prepare: true
            name_suffix: Alpine
          - component: host_agent
            os: ubuntu-latest
            name_suffix: Ubuntu
          - component: host_agent
            os: macos-latest
            name_suffix: macOS
          - component: host_agent
            os: ubuntu-latest
            container: docker.io/heywoodlh/openrc:latest
            prepare: true
            name_suffix: Alpine
    steps:
      - name: Check if tag push
        if: github.event_name == 'workflow_run'
        run: |
          RUN_ID=${{ github.event.workflow_run.id }}
          EVENT=$(gh run view $RUN_ID --json event -q .event)
          HEAD_BRANCH=$(gh run view $RUN_ID --json headBranch -q .headBranch)
          if [[ "$EVENT" == "push" && -z "$HEAD_BRANCH" ]]; then
            echo "Proceed with tag release test"
          else
            echo "Not a tag push, skipping"
            exit 1
          fi
      - name: Set tag
        run: |
          if [ "${{ github.event_name }}" = "release" ]; then
            echo "TAG=${{ github.event.release.tag_name }}" >> $GITHUB_ENV
          elif [ "${{ github.event_name }}" = "workflow_run" ]; then
            TAG=$(gh release list --limit 1 --exclude-drafts --exclude-pre-releases --json tagName -q .[0].tagName)
            echo "TAG=$TAG" >> $GITHUB_ENV
          fi
      - name: Prepare Alpine
        if: matrix.prepare
        run: |
          apk add --no-cache curl doas github-cli git
          echo "permit nopass root" >> /etc/doas.conf
      - name: Download install scripts
        run: |
          gh release download ${{ env.TAG || 'latest' }} --repo ${{ github.repository }} --pattern "shuthost_${{ matrix.component }}_installer.sh" --dir install-scripts
      - name: Make scripts executable
        run: chmod +x install-scripts/*.sh
      - name: Test ${{ matrix.component }} install script
        run: |
          CI_MODE=true ./install-scripts/shuthost_${{ matrix.component }}_installer.sh
